p{
    background-color: blue;
    width: 500px;
    padding: 15px;
    border: 2px solid;
    margin: 20px;
}
div{
    background-color: blueviolet;
white-space: 500px;
bottom: 100px 100px 100px 100px;
}